::-webkit-scrollbar {
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(27,27,27,1) 35%, rgba(85,85,85,1) 100%);
    width: 7px;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #fff;
    border-radius: 8px 0;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,27,1) 35%, rgba(85,85,85,1) 100%);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.btn {
    background-color: transparent;
    transition: ease-in-out 1s;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    transition: ease-in-out 1s;
}

.title-font {
    color: #fff;
}

.text {
    font-size: xx-large;
}

.textAbout {
    color: orange;
} 

.homeImg {
    width: 500px;
    padding: 40px;
}

.sponsorImg {
    border-radius: 50%;
    box-shadow: #fff;
    box-shadow: 0px 0px 84px -32px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 0px 84px -32px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 0px 84px -32px rgba(255,255,255,0.75);
}