/* ---- base ---- */

/* html,body{ 
	background:#111;
  overflow-x: hidden;

}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- stats.js ---- */
/* 
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}



#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
	background: #121212
} */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: #fff;
}

::-webkit-scrollbar:hover {
  background-color: grey;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #414141;
}

::-webkit-scrollbar-thumb {
  background-color: #414141;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #121212;
}

@keyframes fadeinall {
  0% {
    opacity: 1; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    opacity: 0;
    z-index: -1; } }
  #loader {
    color: white;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; 
  }


.navLogo {
width: 7rem;
padding: 10px;
}
.homeTitle {
margin-left: 17.7rem;
font-size: 1.2vw;
}

.featureTitle {
margin-left: 2rem;
font-size: 1.2vw;
}

.navTitle {
margin-left: 8rem;
font-size: 1.4vw;
}

@media screen and (max-width:1200px) {
.homeTitle, .featureTitle, .navTitle{
  margin-left: 1rem;
}
.navTitle {
  margin-left: 1rem;
}
}

@media screen and (max-width:900px) {
.homeTitle, .featureTitle, .navTitle{
  margin-left: 2rem;
  font-size: 4vw;
}
.navTitle {
  margin-left: 1rem;
}
.btn-txt {
  font-size: 2.5vw;
}
}

.bg-custom{
  background: transparent;
}

.overlay {
  z-index: 2rem;
}
.messenger {
  max-height: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #f8ab3c;
  position: relative;
}
.messenger-1 {
  max-height: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  position: relative;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 1.3rem;
}
.visible {
  visibility: visible !important;
}
.faq-tag {
  font-size: 1.1rem;
}
.accordion {
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  border: 1px dashed #edeff2;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 10px 0 10px;
  text-indent: 10px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  
}
/* .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("D:\WTH-main\Code\assets\Logo\plus_adobespark.png");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
} */

#overlay {
  position: relative;
}

.columnHead {
  /* text-align: center; */
  padding: 5rem;
  font-size: 1vw;
  color: rgb(187, 187, 187);
}

.aboutImg {
  width: 15rem;
  height: 7.5rem;
  /* position: absolute; */
}

.aboutImgTwo {
  position: absolute;
  width: 15rem;
  margin-left: -13rem;
  padding-top: 6rem;
}

.aboutPara {
  text-align: start;
}

@media screen and (max-width:900px) {
  .columnHead {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
  }

  .aboutHead {
    font-size: medium;
    /* text-align: center; */
  }

  .aboutPara {
    font-size: small;
    /* text-align: center; */
  }

  .aboutImg {
    width: 14rem;
    height: 7rem;
    padding: 20px;
  }
  .aboutImgTwo {
    width: 11rem;
  margin-left: -10rem;
  }
}

.countDownStyle {
  text-align: center;
  /* background-color: red; */
}

.countFont {
  font-size: 2vw;
  color: #fff;
}

.countDown {
  font-size: 2.7vw;
  color: white;
}

@media screen and (max-width:900px) {
  .cdStyles {
    display: flex;
    flex-direction: column;
  }
  .countFont {
    font-size: 6vw;
    padding: 20px;
  }
  .countDown {
    font-size: larger;
  }
  .headCount {
    font-size: 3vw;
  }
}

/* Corousel */

.Cardss {
  padding: 2rem;
  cursor: pointer;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #121212 ;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.name {
  color: rgb(218, 218, 218);
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: grey;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.Cards {
  padding: 2rem;
}

.speakHead {
  color: #f1f1f1;
  padding: 2rem;
}

@media screen and (max-width:900px) {
  .Cardss {
    padding: 4rem;
  }
  .Cards {
    padding: 0;
  }
}

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 3%;
  background: #8d8d8d;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 88%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:85%;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 25px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 35px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 45px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: calc(87% - 5px);
  top: 2rem;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(80% - 5px);
  top: 2rem;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: calc(87% - 5px);
  top: 2rem;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(80% - 5px);
  top: 2rem;
}