/* ---- base ---- */

/* html,body{ 
	background:#111;
  overflow-x: hidden;

}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- stats.js ---- */
/* 
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}



#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
	background: #121212
} */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: #fff;
}

::-webkit-scrollbar:hover {
  background-color: grey;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #414141;
}

::-webkit-scrollbar-thumb {
  background-color: #414141;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #121212;
}

@keyframes fadeinall {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes  slideInFromLeft{
  0%{
      transform:translateX(-100%)
  }
  100%{
      transform: translateX(0);
  }
}

@keyframes  slideInFromRight{
  0%{
      transform:translateX(100%)
  }
  100%{
      transform: translateX(0);
  }
}

#loader {
  color: white;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: #fff;
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.navLogo {
  width: 7rem;
  padding: 10px;
}
.homeTitle {
  margin-left: 14.7rem;
  font-size: 1.2vw;
}

.featureTitle {
  margin-left: 2rem;
  font-size: 1.2vw;
}

.navTitle {
  margin-left: 10rem;
  font-size: 1.4vw;
}

@media screen and (max-width: 1200px) {
  .homeTitle,
  .featureTitle,
  .navTitle {
    margin-left: 1rem;
  }
  .navTitle {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .homeTitle,
  .featureTitle,
  .navTitle {
    margin-left: 2rem;
    font-size: 4vw;
  }
  .navTitle {
    margin-left: 1rem;
  }
  .btn-txt {
    font-size: 2.5vw;
  }
}

.bg-custom {
  background: #111;
  opacity: 0.9 ;
}

.overlay {
  z-index: 2rem;
}
.messenger {
  max-height: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #f8ab3c;
  position: relative;
}
.messenger-1 {
  max-height: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  position: relative;
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.3rem;
}
.visible {
  visibility: visible !important;
}
.faq-tag {
  font-size: 1.1rem;
}

/* .accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em;
} */

/* .accordion-button {
  color: #fff;
} */

.accordion-item {
  width: 50rem;
  background: transparent;
}

.timeHead {
  text-align: center; 
  font-size: 8vh; 
  color: #f8f8f8;
}

.faq-text{
  text-align: left; 
  margin-left: 220px;  
  color: #f8f8f8;
}
@media screen and (max-width: 900px) {
  .faq-content{
            
    /* display: flex; */
    justify-content: center; 
     /* align-items: center; */
    min-height: 100vh;
    
}
  .accordion{
    width: 800px;
    justify-content: center; 
  }
  .accordion .content-box{
    /* width: 800px; */
    justify-content: center;
  }
  .faq-text{
    text-align: center;
    margin: auto;
  }

  .timeHead {
    font-size: 4vh;
  }
}

#overlay {
  position: relative;
}

.columnHead {
  /* text-align: center; */
  padding: 5rem;
  font-size: 1vw;
  color: rgb(187, 187, 187);
}

.aboutImg {
  width: 15rem;
  height: 7.5rem;
  /* position: absolute; */
}

.aboutImgTwo {
  position: absolute;
  width: 15rem;
  margin-left: -13rem;
  padding-top: 6rem;
}

.aboutPara {
  text-align: start;
}

@media screen and (max-width: 900px) {
  .columnHead {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
  }

  .aboutHead {
    font-size: medium;
    /* text-align: center; */
  }

  .aboutPara {
    font-size: small;
    /* text-align: center; */
  }

  .aboutImg {
    width: 14rem;
    height: 7rem;
    padding: 20px;
  }
  .aboutImgTwo {
    width: 11rem;
    margin-left: -10rem;
  }
}

.countDownStyle {
  text-align: center;
  /* background-color: red; */
}

.countFont {
  font-size: 2vw;
  color: #fff;
}

.countDown {
  font-size: 2.7vw;
  color: white;
}

.headCount {
  font-size: 5vh;
}

@media screen and (max-width: 900px) {
  .cdStyles {
    display: flex;
    flex-direction: column;
  }
  .countFont {
    font-size: 6vw;
    padding: 20px;
  }
  .countDown {
    font-size: larger;
  }
  .headCount {
    font-size: 3vw;
  }
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 3%;
  background: #8d8d8d;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 88%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 85%;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 25px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 35px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 45px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: calc(87% - 5px);
  top: 2rem;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(80% - 5px);
  top: 2rem;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: calc(87% - 5px);
  top: 2rem;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(80% - 5px);
  top: 2rem;
}

.bannerSec {
  padding: 3rem;
}
.imgBanner {
  padding: 2rem;
}

@media screen and (max-width: 900px) {
  .bannerImg {
    padding: 2rem;
  }
  .bannerClg {
    font-size: 4.5vw;
  }
  .bannerClub {
    font-size: 4vw;
  }
  .bannerSec {
    padding: 2rem;
  }
  .imgBanner {
    padding: 1rem;
  }
}
.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 3rem;
}
@media screen and (max-width:900px) {
  .timeline {
    padding: 1rem;
    /* position: absolute; */
    margin-right:4%;
  }
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  /* background-color: #1e1f22; */
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:first-child {
    float: left;
    clear: right;
    animation: slideInFromLeft 1s ease-in;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(2) {
    float: left;
    clear: right;
    animation: slideInFromRight 1s ease-in;
    transform: translateX(30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}

.Img {
  border-radius: 8px;
  padding: 2rem;
  border-radius: 3rem;
}

@media screen and (max-width:900px) {

.colOne {
  text-align: center;
 }
 .aboutParaOne {
   text-align: center;
 }
}

.sponTxt {
  text-align: center;
  color: gold;
  padding: 2rem;
}

.tobe {
  text-align: center;
  color: silver;
}