body, html {
    background-color: #121212;
    overflow-x: hidden;
}

.homeSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.homeContent {
    padding: 3rem;
}

.homeDate {
    font-size: 4vh;
    font-weight: 400;
    color: rgb(89, 170, 218);
}

.homeTitle {
    font-size: 12vh;
    color: #fff;
}

.homeHash {
    text-decoration: underline;
    padding-top: 2rem;
    color: rgb(226, 226, 226);
}

.btnHack, .btnDis {
    border: 0.5px solid white;
    text-align: center;
    width: 60%;
    transition: ease-in-out 1s;
    text-decoration: none;
    cursor: pointer;
    margin: 2rem 0;
    color: #fff;
}
.btnHack:hover {
    border-radius: 8px;
    transition: ease-in-out 1s;
}

.btnDis:hover {
    background-color: #fff;
    transition: ease-in-out 1s;
    color: #414141;
    border-radius: 8px;
}
.btnTitle {
    font-size: 3vh;
    font-weight: 500;
    padding: 0.5rem;
}

.homeImg {
    width: 20rem;
}

/* Home Mobile */

@media screen and (max-width:900px) {
    .homeSec {
        display: flex;
        flex-direction: column-reverse;
    }
    .homeDate {
        font-size: 3vh;
    }
    .homeTitle {
        font-size: 5vh;
    }
    .homeImg {
        padding: 2rem 0;
        width: 15rem;
    }

    .btnHack {
        width: 100%;
        margin: 2rem 0;
    }

    .btnDis {
        width: 100%;
        margin: 0;
    }
}

/* About Desktop */

.about {
    background-color: #131313;
}

.aboutSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    z-index: 3;
    /* gap: 12rem; */
}

.aboutImg {
    border-radius: 50%;
    padding: 3rem;
    width: 30rem;
    padding-left: 8rem;
}

.aboutTitle {
    font: 6vh;
    color: rgb(89, 170, 218);
    text-align: center;
    padding: 2rem;
}

.aboutPara {
    font-size: 3vh;
    color: #f8f8f8;
    width: 80%;
    font-weight: 400;
}

#layer1{
    position: absolute;
    width:100%;
    height: auto;
    padding: 3rem;
    overflow: hidden;
}

#layer1 {
    background-color: #121212;
}

/* About Mobile */

@media screen and (max-width:900px) {
    .aboutSec {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .aboutPara {
        width: 100%;
        font-size:2vh;
        padding: 1.2rem;
    }
    .aboutImg {
        width: 100%;
    }
}

/* Tracks */

.tracksSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trackTitle {
    color: white;
}

.tracks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
}

.trackOne, .trackTwo, .trackThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid aqua;
    width: 20rem;
    height: 50vh;
    margin: 3rem;
    cursor: pointer;
    transition: ease-in-out 1.5s;
    color: rgb(67, 137, 184);
}

.trackOne:hover {
    background-color: aqua;
    color: #000;
    transition: ease-in-out 1.5s;
    border-radius: 8px;
}

.trackTwo:hover {
    background-color: aqua;
    color: #000;
    transition: ease-in-out 1.5s;
    border-radius: 8px;
}

.trackThree:hover {
    background-color: aqua;
    color: #000;
    transition: ease-in-out 1.5s;
    border-radius: 8px;
}

.viewMore {
    color: #000;
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    transition: ease-in-out 1s;
    cursor: pointer;
}

.viewMore:hover {
    background-color: #000;
    transition: ease-in-out 1s;
    color: aqua;
    border: 1px solid aqua;
}

.viewTitle {
    font-weight: 400;
}

/* Track Mobile */

@media screen and (max-width: 900px) {
    .tracks {
        display: flex;
        flex-direction: column;
    }

    .trackOne, .trackTwo, .trackThree {
        height: 20vh;
        margin: 1.5rem;
    }
}