body, html {
    background-color: #000;
    overflow-x: hidden;
}

.homeSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.homeContent {
    padding: 3rem;
}

.homeDate {
    font-size: 4vh;
    font-weight: 400;
    color: rgb(89, 170, 218);
}

.homeTitle {
    font-size: 12vh;
    color: #fff;
}

.homeHash {
    text-decoration: underline;
    padding-top: 2rem;
    color: rgb(226, 226, 226);
}

.btnHack, .btnDis {
    border: 0.5px solid white;
    text-align: center;
    width: 60%;
    transition: ease-in-out 1s;
    text-decoration: none;
    cursor: pointer;
    margin: 2rem 0;
    color: #fff;
}
.btnHack:hover {
    border-radius: 8px;
    transition: ease-in-out 1s;
}

.btnDis:hover {
    background-color: #fff;
    transition: ease-in-out 1s;
    color: #414141;
    border-radius: 8px;
}
.btnTitle {
    font-size: 3vh;
    font-weight: 500;
    padding: 0.5rem;
}

.homeImg {
    width: 20rem;
}

/* Home Mobile */

@media screen and (max-width:900px) {
    .homeSec {
        display: flex;
        flex-direction: column-reverse;
    }
    .homeDate {
        font-size: 3vh;
    }
    .homeTitle {
        font-size: 5vh;
    }
    .homeImg {
        padding: 2rem 0;
        width: 15rem;
    }

    .btnHack {
        width: 100%;
        margin: 2rem 0;
    }

    .btnDis {
        width: 100%;
        margin: 0;
    }
}

/* About Desktop */

.aboutSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    z-index: 3;
    /* gap: 12rem; */
}

.aboutImg {
    border-radius: 50%;
    padding: 3rem;
    width: 30rem;
    padding-left: 8rem;
}

.aboutTitle {
    font: 6vh;
    color: rgb(89, 170, 218);
    text-align: center;
}

.aboutPara {
    font-size: 3vh;
    color: #f8f8f8;
    width: 80%;
    font-weight: 400;
}

#layer1{
    position: absolute;
    width:100%;
    height: auto;
    padding: 3rem;
    overflow: hidden;
}

#layer1 {
    background-color: #000;
}

/* About Mobile */

@media screen and (max-width:900px) {
    .aboutSec {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .aboutPara {
        width: 100%;
        font-size:2vh;
        padding: 1.2rem;
    }
    .aboutImg {
        display:none;
    }
}